<div id = 'unfollowBox'>
    <div class = 'black'></div>
    <p class = 'headUnFollowBox'>{{@value}}</p>
    <div id = 'buttonDiv'>
        <button class = 'butClasred' type="button" {{on 'click' this.handleUnFollow}}>UnFollow</button>
        <button class = 'butClas' onClick = {{this.handleCancel}} type="button"> Cancel</button>
    </div>
</div>